@import 'styles/variables.scss';

.app {
  margin: 80px auto $base-margin auto;
  padding: 0 2 * $base-padding 2 * $base-padding 2 * $base-padding;

  width: 960px;
  background-color: $white;
  text-align:center;
}

.avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-top: -75px;
}

#details {
  text-align: left;
  margin: 20px;
}